<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Titulo" %>
    <%= form.text_field :title %>
  </div>

  <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_field :description %>
  </div>

  <div class="form-group">
    <%= form.label "Categoria"%>
     <%= select(:product, :category_id, Category.all.collect {|p| [ p.name, p.id ] }, {include_blank: false}) %>
  </div>

  <div class="form-group">
    <%= form.label "Stock" %>
    <%= form.number_field :stock %>
  </div>


  <div class="form-group">
    <%= form.label "Fecha de expiracion" %>
    <%= form.date_select :expiration_date %>
  </div>

  <div class="form-group">
    <%= form.label "Imagen " %>
    <%= form.text_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
