<h1>Ofrece tu producto</h1>

<%= form_tag("/products", method: "post") do %>
<div class="form-group">
  <%= label_tag(:title, "Titulo:") %>
  <%= text_field_tag(:title) %>
</div>

<div class="form-group">
  <%= label_tag(:description, "Descripcion:") %>
  <%= text_field_tag(:description) %>
</div>

<div class="form-group">
  <%= label_tag(:category, "Category:") %>
<%= select(:category, :category_id, Category.all.collect {|p| [ p.name, p.id ] }, {include_blank: true}) %>
</div>

<div class="form-group">
  <%= label_tag(:image, "Imagen:") %>
  <%= text_field_tag(:image) %>
</div>

<div class="form-group">
  <%= label_tag(:stock, "Stock:") %>
<%= number_field(:product, :stock, in: 1.0..20.0, step: 0.5) %>
</div>

<div class="form-group">
  <%= label_tag(:expiration_date, "Descripcion:") %>
  <%= text_field_tag(:expiration_date) %>
</div>

<%= submit_tag("Crear") %>
<% end %>

<%= link_to 'Back', products_path %>
